.root
{
	-fx-background-color: #f2f2f2;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #ffffff;
}

.tab-pane .tab
{
	-fx-background-color: #e6e6e6;
}

.tab-pane .tab:selected
{
    -fx-background-color: #ffffff;
}

.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
