.root
{
	-fx-background-color: #f2f2f2;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: 0;
}

.tab-pane .tab
{
	-fx-background-color: #e6e6e6;
}

.tab-pane .tab:selected
{
    -fx-background-color: #ffffff;
}

.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#search-button {
	-fx-background-image: url("search2.png");
	-fx-background-size: 16px 16px;
  	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
}
#add-button {
	-fx-background-image: url("add.png");
	-fx-background-size: 16px 16px;
  	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
}
#remove-button {
	-fx-background-image: url("remove.png");
	-fx-background-size: 16px 16px;
  	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
}
#menu-button {
	-fx-background-image: url("menu.png");
	-fx-background-size: 16px 16px;
  	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}